@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.slanted-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  /* background: linear-gradient(rgba(26,32,44,0.7), rgba(74,85,104,0.7)); */
  /* background-color: rgba(); */
  z-index: 1;
}
.sliding-images{
  transform: rotate(-29deg);
}

.left-to-right{
  animation: slideLeftToRight 60s linear infinite;
  transform: skew(30deg);
}

.right-to-left{
  animation: slideRightToLeft 60s linear infinite;
}
.homebackground{
  background: black;
  
}
.text-color{
  color: rgba(98, 98, 98, 0.95);
}

@keyframes slideLeftToRight{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes slideRightToLeft{
  0%{
    transform: skewX(-6%);
  }
  100%{
    transform: skewX(6%);
  }
}

.text-container{
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.arrowbtn{
  animation: animationDown infinite 1.5s
}

@keyframes animationDown{
  0%, 20%, 50%, 100%
  {
    transform: translateY(0);
  }
  40%{
    transform: translateY(7px);
  }
  70%{
    transform: translateY(3px);
  }
}

.black-and-white{
  filter: grayscale(100%);
  transition: 1s ease-in-out;
}

.black-and-white:hover{
  filter: grayscale(0%);
}

.image-container{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  height: 300px;
  transform: rotate(-6deg);
  animation: slider 60s linear infinite, rotate 60s linear infinite;
}

.image-container2{
  display: none;
  width: 100%;
  flex-wrap: nowrap;
  height: 300px;
  transform: rotate(-6deg);
  animation: slider2 60s linear infinite, rotate 60s linear infinite;
}

@media (min-width: 768px){
  .image-container2{
    display: flex;
  }
}
 .images{
  height: 100%;
  object-fit: contain;
  margin-right: 20px;
 }

.image-carousel{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.imagebox{
  flex: 1;
}

@keyframes slider{
0%{
  transform: rotate(-6deg) translateX(-100%);
}
25%{
  transform: rotate(-6deg) translateX(-50%);
}
50%{
  transform: rotate(-6deg) translateX(0%);
}
75%{
  transform: rotate(-6deg) translateX(50%);
}
100%{
  transform: rotate(-6deg) translateX(100%);
}
}

@keyframes slider2{
  0%{
    transform: rotate(-6deg) translateX(100%);
  }
  25%{
    transform: rotate(-6deg) translateX(50%);
  }
  50%{
    transform: rotate(-6deg) translateX(0%);
  }
  75%{
    transform: rotate(-6deg) translateX(-50%);
  }
  100%{
    transform: rotate(-6deg) translateX(-100%);
  }
  }

  .roundedImage{
    width: 100px;
    height: 100px;
    object-fit: contain;
    overflow: hidden;
    object-position: center;
    border-radius: 100%;
  }

  .search-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
    margin-top: 50px;
    width: 900px;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
    color: white;
  }
  
  .search-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .search-input:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
  
  /* Align the button to the end */
  .search-button {
    margin-left: auto;
  }

.navigate-button{
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background: #000;
  color: white;
  margin-top: 20px;
}
.navigate-button:hover{
  background: #636363;
  cursor: pointer;
}

.navigate-button__selected{
  background: #636363;
  display: flex;
  width: 32px;
  height: 32px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}
.search-text{
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 228.571% */
  }

  .gallery{
    display: grid;
    gap: 20px;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
  }

  .border{
    border: none;
    background: white;
    color: black;
    margin-bottom: 10px;
  }

  .border:hover{
    border: 1px solid white;
  }